* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    font-family: 'Baloo Thambi 2';
}



/* --------------------------------------------------- HEADER */

header {
    width: 100%;
    height: 60px;
    text-align: right;
    padding: 7px 10px;
}

header .speaker {
    font-size: 16px;
    color: #fff;
    background-color: #333;
    padding: 8px 10px;
    border: 0;
    border-radius: 5px;
}

header .speaker:hover {
    background-color: #444;
    cursor: pointer;
}

header .full-screen {
    font-size: 16px;
    padding: 8px 10px;
    color: #fff;
    background-color: #333;
    border: 0;
    border-radius: 5px;
    text-align: center;
}

header .full-screen:hover {
    background-color: #444;
    cursor: pointer;
}



/* ----------------------------------------------------- MAIN */

main {
    display: flex;
    justify-content: center;
    align-content: center;
    height: calc(100vh - 140px);
    padding: 30px 50px;
    overflow: scroll;
}

main .aula {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.alunni {
    width: 320px;
    height: 240px;
    background-color: #000;
    border: 10px solid #000;
    overflow: hidden;
}

.alunni img {
    background-size: cover;
    background-repeat: no-repeat;
}

.alunni img:hover {
    opacity: 0.7;
    cursor: pointer;
}


/* -------------------------------------------------- FOOTER */

footer {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    width: 100%;
    height: 80px;
}

#left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    padding: 20px;
}

#center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 350px);
}

#right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    background-color: #444;
}

#right:hover {
    background-color: #red;
    color: #fff;
}

.icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-size: 24px;
    color: #fff;
}

.icons p {
    font-size: 14px;
}

.icons:hover {
    color: #aaa;
    cursor: pointer;
}

#center .icons:not(:last-child) {
    margin-right: 40px;
}

#right p {
    color: red;
}

small {
    font-size: 14px;
}

#right:hover {
    background-color: #222;
    cursor: pointer;
}

.fa-align-right {
    transform: rotate(90deg);
}

.fa-caret-up {
    font-size: 14px;
}

.fa-share-square {
    color: lightgreen;
}



/* END */
